body {
  font-family: "Source Sans 3", sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

header {
  padding: 16px;
  border-bottom: 1px solid #c6c6c6;

  display: flex;
  justify-content: space-between;
}

.logo {
  width: 127px;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
